@page
@model WebApplication1.Pages.Scores.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Score[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score[0].DateAssigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score[0].PointsPossible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score[0].PointsEarned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score[0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score[0].Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Score) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAssigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsPossible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsEarned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
