@page "/Courses/{courseId}/Assignments"
@model WebApplication1.Pages.Courses.Assignments.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Assignments for @Model.CourseName</h1>

<p>
    <a asp-page="/Courses/Assignments/Create" asp-route-courseId="@Model.CourseId">Create New</a>
</p>
<p>
    <a asp-page="/Courses/Details" asp-route-id="@Model.CourseId">Course Details</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].DateAssigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].PointsPossible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assignments[0].Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Assignments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAssigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsPossible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-page="./Grades/Index" asp-route-courseId="@item.CourseId" asp-route-assignmentId="@item.Id">Enter Grade</a>
            </td>
        </tr>
}
    </tbody>
</table>
